body{
    display: flex;
    justify-content: center;
}
#msn {
    border: 1px solid red;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
#display{
    border: 1px solid green;
    width: 450px;
    height: 450px;
}
body,html{
    height: 100%;
    margin-top: 100px;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}